{% extends 'commonbase.html'%}
{% block content %}
<div class="title text-center mb-5">
    <h3 class="text-warning mb-2">New Password</h3>
</div>
<div class="row support-bottom">
    <!-- Hover Effect Style : Demo - 15 -->
    <div class="container">

        <form method="post" action="{% url 'enterNewPasswordAction' %}">
            {% csrf_token %}
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <table>
                        <div class="form-group">
                            <input type="hidden" name="Username" value="{{data}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" name="NewPassword" id="NewPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm_Password</label>
                            <input type="password" name="Confirm_NewPassword" id="Confirm_NewPassword"
                                class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn btn-warning col-md-6" value="SUBMIT"
                                    onClick="return validation()">
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    function validation() {
        var alpha = /^[a-zA-Z]+$/;
        var num = /^[0-9]+$/;
        var pass = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        var NewPassword = document.getElementById("NewPassword");
        var Confirm_NewPassword = document.getElementById("Confirm_NewPassword");

        if (NewPassword.value.length == 0) {
            alert("Enter new password");
            return false;
        }
        else if (!NewPassword.value.match(pass)) {
            alert("Password must contains 8 to 15 characters with at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");
            return false;
        }
        else if (Confirm_NewPassword.value.length == 0) {
            alert("Fillout confirm password field");
            return false;
        }
        else if (!NewPassword.value.match(Confirm_NewPassword.value)) {
            alert("Password does not match")
            return false;
        }
        else {
            return true;
        }
    }
</script>
{% if messages %}
{% for msg in messages %}
<script>
    alert('{{ msg }}')
</script>
{% endfor %}
{% endif %}
{% endblock %}