{% extends 'commonbase.html'%}
{% block content %}
<div class="row support-bottom">
    <!-- Hover Effect Style : Demo - 15 -->
    <div class="container border  mt-5 p-3">
        <form method="post" action="{% url 'newPasswordAction' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <div class="form-group">
                            <input type="hidden" name="Username" value="{{data}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" name="Name" id="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Phone_No</label>
                            <input type="text" name="Phone_No" id="Phone_no" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn btn-warning" value="SUBMIT"
                                    onClick="return validation()">
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function validation() {
        debugger;
        var alpha = /^[a-zA-Z\s]+$/;
        var num = /^[0-9]{10}$/;
        var name = document.getElementById("Name");
        var Phone_no = document.getElementById("Phone_no");

        if (name.value.length == 0) {
            alert("Enter a name");
            return false;
        }
        else if (!name.value.match(alpha)) {
            alert("Enter a valid name")
            return false;
        }
        else if (Phone_no.value.length == 0) {
            alert("Enter a phone number")
            return false;
        }
        else if (!Phone_no.value.match(num)) {
            alert("Enter a valid phone number")
            return false;
        }

        else {
            return true;
        }
    }
</script>
{% if messages %}
{% for msg in messages %}
<script>
    alert('{{ msg }}')
</script>
{% endfor %}
{% endif %}
{% endblock %}